
<div class="row">
  <div class="col-md-6">
  <div class="well">
   <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">
    <i class="glyphicon glyphicon-globe"></i></span>
  <input type="text" class="form-control" placeholder="Enter City Name"  ng-model="searchStr"/>
  <span class="input-group-btn"><button class="btn btn-info" type="button" ng-click="search(searchStr)">Find</button></span>
</div>
  </div>
  </div>
  <div class="col-md-6">
  <div class="well">Normal Well</div>  
  </div>
  </div>
  
